body{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.header{
    text-align: center;
}

.header h1{
    font-size: 50px;
}

.header h2{
    font-size: 30px;
}

.container{
    width: 90%;
    padding: 5%;
    text-align: left;
}

h1{
    font-size: 25px;
}

#map {
    padding-top: 50%;
    width: 50%;  /* The width is the width of the web page */
    margin: auto;
}
