<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chambre</title>
</head>

<body>
    <h1>Vous êtes dans la chambre</h1>

    <p>Vous êtes à l'étage n°<%= etage %></p>
</body>

</html>
