<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="data_processing.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Smart Dive Project</title>
</head>

<body>

    <div class="header">
        <h1>Smart Dive Project</h1>
        <h2>Innovative INSA x Arago Project</h2>
    </div>

    <div class="container">
        <h1>Welcome in the Smart Dive Project page !</h1>

        <h2>Drag your mouse on a pin to obtain informations about the location</h2>
        <div id="map"></div>
    </div>

    <script>

        var socket = io('http://localhost:8080');

        var data_matrix;

        socket.on('datas', function (message) {
            data_matrix = message;

            var mapCenter = {lat: 42.484964, lng: 3.187063};

            // Create a map object and specify the DOM element
            // for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: mapCenter,
                zoom: 10
            });

            for (var i = 0; i < data_matrix.length; i++) {
                var timestamp = data_matrix[i][0];
                var temperature = data_matrix[i][1];
                var pressure = data_matrix[i][2];
                var latitude = parseFloat(data_matrix[i][3]);
                var longitude = parseFloat(data_matrix[i][4]);
                var depth = data_matrix[i][5];

                var coordinates = {lat: latitude, lng: longitude};
                new google.maps.Marker({
                    map: map,
                    position: coordinates,
                    title: 'Temperature: ' + temperature.toString() + '°C\n' +
                        'Pressure: ' + pressure.toString() + 'bar\n' +
                        'Depth: ' + depth.toString() + 'm'
                });
            }
        });

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=[Google API key]&callback=initMap">
    </script>

</body>

</html>
