<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>Smart Dive Project</title>
</head>

<body>

    <div class="header">
        <h1>Smart Dive Project</h1>
        <h2>Innovative INSA x Arago Project</h2>
    </div>

    <div class="container">
        <h1>Welcome in the Smart Dive Project page !</h1>

        <div id="map"></div>
    </div>


    <script>
        function initMap() {
            var mapCenter = {lat: 42.484964, lng: 3.137063};
            var mapPing1 = {lat: 42.482926, lng: 3.132298};
            var mapPing2 = {lat: 42.482055, lng: 3.135999};
            var mapPing3 = {lat: 42.484191, lng: 3.137383};
            var mapPing4 = {lat: 42.485212, lng: 3.135913};
            var mapPing5 = {lat: 42.483764, lng: 3.140977};
            var mapPing6 = {lat: 42.483384, lng: 3.134432};



            // Create a map object and specify the DOM element
            // for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: mapCenter,
                zoom: 16
            });

            // Create a marker and set its position.
            var marker1 = new google.maps.Marker({
                map: map,
                position: mapPing1,
                title: 'First Map Ping'
            });

            // Create a marker and set its position.
            var marker2 = new google.maps.Marker({
                map: map,
                position: mapPing2,
                title: 'Second Map Ping'
            });

            // Create a marker and set its position.
            var marker3 = new google.maps.Marker({
                map: map,
                position: mapPing3,
                title: 'Third Map Ping'
            });

            // Create a marker and set its position.
            var marker4 = new google.maps.Marker({
                map: map,
                position: mapPing4,
                title: 'Fourth Map Ping'
            });

            // Create a marker and set its position.
            var marker5 = new google.maps.Marker({
                map: map,
                position: mapPing5,
                title: 'Fifth Map Ping'
            });

            // Create a marker and set its position.
            var marker6 = new google.maps.Marker({
                map: map,
                position: mapPing6,
                title: 'Sixth Map Ping'
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDshBsgzHp1KwEorUZK9IETfqBX5CBgCHo&callback=initMap">
    </script>

</body>

</html>
